
/* reservation information container */
.reservationInformation{
  padding: 7rem 0;
  position: relative;
}

.reservationsInformation__container{
  width: 50%;
  margin: 0 auto;
}

/* end of reservation information container */


/*start reservation table */
.reservationInformation__table {
  border-collapse: collapse;
}

.reservationInformation__table,.reservationInformation__tableHeader,.reservationInformation__tableData{
  border: 1px solid black;
}

.reservationInformation__tableHeader, .reservationInformation__tableData {
  padding: 15px;
  text-align: left;
}

.reservationInformation__tableRow:hover {background-color: #f5f5f5;}

/*end reservation table */
