/* personal information container */

.personalinformation{
  padding: 5rem 0;
}
.container-personalinformation{
  width: 80%;
  position: center;
  margin-left:auto;
  margin-right: auto;
  padding-bottom: 20px;
  left: 251px;
  top: 336px;

  background: #C4C4C4;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  transition: var(--mainTransition);
  height: 95%;
  border-radius: 10px;
}

.container-personalinformation p {
  padding-left: 20px;
}
.container-personalinformation ul {
  list-style-type: none;
  padding-left: 20px;
}
.header-personalinformation{
  padding: 2rem 0;
  text-align: center;
}
/* end of personal information container*/

